*.egg-info
*.pyc

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/

# VScode
.vscode/

# Results/aux of tests of matplotlib
result_images**
